.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    box-shadow: none;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: hsl(30, 33%, 98%);
}

/* Transparent background on scroll */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Default styles for larger screens */
.navbar-collapse {
    flex-basis: auto;
}

/* Adjustments for smaller screens */
@media (max-width: 767px) {
    .navbar-toggler {
        display: block;
    }
    .navbar-collapse {
        flex-basis: 100%;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: flex-end;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}

